.nav-toolbar{
    display: grid;
    grid-template-columns: repeat(auto-fit, 125px);
    grid-template-rows: minmax(22, 1fr);
    place-content: center;
    gap: 4px;
    color: #b0bec5;
}
.nav-toolbar  a{
  
}

main{
    // display: grid;
    // width: 90%;
    // background-color: #343;
    place-content: center;
    padding: 5%;
}
.activeLink{
    background-color: rgb(60 49 207);
    color: black;
    font-size: 1.1rem;
    min-width: auto;
}