<mat-toolbar color="primary" class="nav-toolbar">

    <a routerLinkActive="activeLink" mat-stroked-button   [routerLink]="['basic']" >Basic</a>
    <a routerLinkActive="activeLink" mat-stroked-button  [routerLink]="['group']" >FormGroup</a>
    <a routerLinkActive="activeLink" mat-stroked-button  [routerLink]="['array']" >Array</a>
    <a routerLinkActive="activeLink" mat-stroked-button  [routerLink]="['builder']" >FormBuilder</a>
    <a routerLinkActive="activeLink" mat-stroked-button  [routerLink]="['error']" >Error Handling</a>
    <a routerLinkActive="activeLink" mat-stroked-button  [routerLink]="['validator']" >Validator</a>
    <a routerLinkActive="activeLink" mat-stroked-button  [routerLink]="['async-validator']" >Async Validator</a>
    <a routerLinkActive="activeLink" mat-stroked-button  [routerLink]="['error-message']" >Error Message</a>
     
</mat-toolbar>

<main>

    <router-outlet></router-outlet>
</main>