<mat-toolbar color="primary" class="nav-toolbar">

    <a mat-stroked-button [routerLink]="['basic']" routerLinkActive="router-link-active" >Basic</a>
    <a mat-stroked-button [routerLink]="['group']" routerLinkActive="router-link-active" >FormGroup</a>
    <a mat-stroked-button [routerLink]="['array']" routerLinkActive="router-link-active" >Array</a>
    <a mat-stroked-button [routerLink]="['builder']" routerLinkActive="router-link-active"
        >FormBuilder</a>
    <a mat-stroked-button [routerLink]="['error']" routerLinkActive="router-link-active" >Error Handling</a>
    <a mat-stroked-button [routerLink]="['validator']" routerLinkActive="router-link-active"
        >Validator</a>

</mat-toolbar>

<main>

    <router-outlet></router-outlet>
</main>