<div>
  <mat-card>
    <mat-card-content>
      <form class="form-grid" [formGroup]="userForm" (ngSubmit)="onSave()">
        <mat-form-field appearance="fill">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
        </mat-form-field>
        <mat-card class="address-form" formGroupName="address">
          <h3>Address Form</h3>
          <div class="form-nest">
            <mat-form-field appearance="fill">
              <mat-label>Country</mat-label>
              <mat-select>
                <mat-option value="ET">Ethiopia</mat-option>
                <mat-option value="US">United States</mat-option>
                <mat-option value="KN">Kenya</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>City</mat-label>
              <input matInput formControlName="city" />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Zip Code</mat-label>
              <input matInput formControlName="zip" />
            </mat-form-field>
          </div>
        </mat-card>
        <mat-card class="address-form" formGroupName="addressTwo">
          <h3>Address Two orm</h3>
          <div class="form-nest">
            <mat-form-field appearance="fill">
              <mat-label>Country</mat-label>
              <mat-select>
                <mat-option value="ET">Ethiopia</mat-option>
                <mat-option value="US">United States</mat-option>
                <mat-option value="KN">Kenya</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>City</mat-label>
              <input matInput formControlName="city" />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Zip Code</mat-label>
              <input matInput formControlName="zip" />
            </mat-form-field>
          </div>
        </mat-card>
        <mat-card class="address-form" formGroupName="closeRelatives">
          <h3>closeRelatives</h3>
          <div class="form-nest"></div>
          <div formArrayName="familyMembers">
            <div
              *ngFor="
                let city of closeRelatives('familyMembers').controls;
                index as i
              "
              
            >
              <mat-form-field appearance="fill">
                <mat-label>Family Member</mat-label>
                <input matInput formControlName={{i}} />
              </mat-form-field>
            </div>
            <button (click)="addFamilyMembers()">Add Family Member</button>
          </div>
        </mat-card>
        <mat-card class="address-form" formGroupName="closeRelatives">
          <h3>friends</h3>
          <div class="form-nest"></div>
          <div formArrayName="friends">
            <div
              *ngFor="
                let city of closeRelatives('friends').controls;
                let i = index
              "
              [formGroupName]="i"
            >
              <!-- <input formControlName="name" placeholder="friends name"> -->
              <!-- <input formControlName="rank" placeholder="friends rank"> -->
              <mat-form-field appearance="fill">
                <mat-label>Friend Name</mat-label>
                <input matInput formControlName="name" />
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Friend Rank</mat-label>
                <input matInput formControlName="rank" />
              </mat-form-field>
            </div>
            <button (click)="addFriends()">Add friends</button>
          </div>
        </mat-card>

        <button mat-raised-button color="primary" type="submit">Sbubmit</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
